<!DOCTYPE html>
<html>
  <head>
    <title>ImgLot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div class="header">
      <img src="images/small.png" />
    </div>
    <!-- Make ^^^ different each load?-->
    <div class="main">
      <form ref='imgUP' 
	    id='imgUP' 
	    action='/upload' 
	    method='post' 
	    encType="multipart/form-data">
	<div class="formContainer">
	  <div class="explanation">Step 1: Submit a unique photo! *</div>
	  <div class="formItem">
            <input type="file" accept=".jpg,.jpeg,.png,.bmp,.tiff,.gif" name="userImage" />
	  </div>
	  <div class="formItem" id="smallText">
	    * Please keep image uploads under 4MB
	  </div>
	  <div class="formItem">	    
	    <input type="checkbox" name="imgNsfw" >Image contains NSFW content</input>
	  </div>
	</div>
	<img src="images/rightArrow.png" widht="64" height="64" style="padding-left:30px;padding-right:30px;"/>
	<div class="formContainer">
	  <div class="explanation">Step 2: Get a random photo back!</div>
	  <div class="formItem">	    
	    <input type="checkbox" name="noNsfwResult">NO NSFW responses from lottery</input>
	  </div>
	  <div class="formItem">
            <input type="submit" value="Get a Random Image!" />
	  </div>
	</div>
      </form>  
    </div>
  </body>
</html>
